.container {
    display: flex;
    max-width: 40rem;
    padding: 2rem 1rem 1rem 1rem;
    margin: 0rem auto 6rem;
    /* background-color: white; */
    flex-flow: column;
    height: 100%;
  }
  
  .header {
    display: flex;
    flex-direction: column;
    align-items: left;
  }
  
  .headerImage {
    width: 6rem;
    height: 6rem;
  }
  
  .headerHomeImage {
    width: 8rem;
    height: 8rem;
  }
  
  .backToHome {
    margin: 3rem 0 0;
  }
  